.cart-content {
  background-color: white;
  margin: 0 40px 0 40px;
  @media screen and(max-width: 982px) {
    margin: 80px 0;
  }
}

.offer-list-card{
  margin: 16px auto;
  width: 95%;
}

.point-card{
  margin: 16px auto;
  width: 95%;
}

.pay-form{
  max-width: 300px;
  margin: auto;
}

.payment-card-content{
  min-height: 200px;
}

.checkout-btn{
  margin: 40px auto;
}

.select-address{
  @media screen and(max-width: 982px) {
    margin: 20px 0 0;
  }
}

.tab-click{
  background-image: url("http://saxiysavdo.uz:6526/api/v1/downloadFile/258081logo.png");
  width: 40px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.delivery-info{
  margin-top: 20px;
}