.product-image-category {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.product-image-container {
  position: relative;
  height: 200px;
}

.category-page-layout {
  width: 100%;
  background-color: white;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  @media screen and(max-width: 982px) {
    margin-top: 80px;
  }
}

.list-products {
  width: 100%;
}

.category-product-card {
  width: 100%;
}

.category-page-sider {
  min-width: 246px !important;
  background-color: white;
  @media screen and(max-width: 982px) {
    display: none;
  }
}

.category-page-content {
  padding: 10px;
}

