.forgot-wrap {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  min-height: 100vh;

  h2 {
    text-align: center;
    color: #4000ff;
  }
}

.forgot-password-form {
  width: 90%;
  max-width: 350px;
  margin: auto;
}