.container {
  //padding-top: 50px;
}

.product-carousel-title {
  padding: 20px 0px 0px 20px;

  > h2 {
    margin-bottom: 0;
  }
}



.carousel-products {
  background-color: white;
}

.product-image {
  height: 200px;
}

.carusel-product-card {
  //width: 240px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.advertise-img {
  max-height: 300px;
  border-radius: 10px;
  width: 100%;
}

.market-logo-wrapper {
  min-height: 50px;
  margin-bottom: 10px;
}

.market-logo-img {
  height: 50px;
}

.carousel-desctop {
  @media screen and(max-width: 982px) {
    display: none;
  }
}

.carousel-mobile {
  display: none;
  @media screen and(max-width: 982px) {
    display: block;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    width: 99%;
  }
}

.carusel-product-item {
  //width: 240px;
  @media screen and(max-width: 425px) {
    margin: auto;
  }
}

.react-multiple-carousel__arrow{
  z-index: 0!important;
}


.product-image {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.product-image-container {
  position: relative;
  height: 200px;
}

.ant-carousel .slick-next {
  right: 6px !important;
}

.slider-image-container{
  position: relative;
  height: 100%;
}

.slider-image {
  width: 100%;
  //max-height: 300px;
  border-radius: 10px;

  //display: block;
  //vertical-align: middle;
  //max-width: 100%;
  //position: absolute;
  //top: 0;
  //bottom: 0;
  //left: 0;
  //right: 0;
  //margin: auto;
}

