.my-order-content{
 max-width: 1400px;
  min-height: 100%;
  background-color: white;
  margin: 0 auto;

  @media screen and(max-width: 982px) {
    margin: 80px 0 40px;
    .ant-card-body{
      padding: 7px;
    }
  }
}

.title-orders{
  text-align: center;
}

.order-card{
  width: 100%;
}

.list-header{
  margin: 10px auto 10px 30px;
}

.oreder-layput{
  background-color: white;
}

.order-title-wrapper{
  >p{
    display: inline-flex;
    margin-left:20px;
    >span{
      color: #1890ff;
      margin-right: 5px;
    }
  }
}