.profile-wrapper{
  min-height: 100vh;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  >p{
    font-size: large;
    font-weight: bold;
    text-align: center;
    >span{
      color: #1890ff;
    }
  }
  @media screen and(max-width: 982px) {
    margin: 90px 0 40px;
  }
}

.show-form-btn{
  margin: auto;
}

.password-change-form{
  max-width: 300px;
  margin: 20px auto;
}