.google-play-link{
  width: 180px;
}

.footer{

  padding-bottom: 0 !important;
  width: 100%;
  //background-image: linear-gradient(180deg,rgba(63,63,63,0.93) 0%,rgba(63,63,63,0.93) 100%),url(https://layouts.b3multimedia.ie/wp-content/uploads/2019/11/crypto26.jpg)!important;
}

.footer-logo{
  border-radius: 25px;
  height: 50px;
  -webkit-box-shadow: -6px 14px 20px -5px rgba(9,49,171,1);
  -moz-box-shadow: -6px 14px 20px -5px rgba(9,49,171,1);
  box-shadow: -6px 14px 20px -5px rgba(9,49,171,1);
}

.info-text-footer{
  margin-top: 20px;
}

.footer-wrap{
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0 !important;
  max-width: 1400px;
}