.category-list-text{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 99%;
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
  font-family: 'Roboto', sans-serif;
  color: #001142;
  font-size: 16px;

}
.category-icon-img{
  margin-right: 7px;
}
//.category-menu-item{
//  margin-top: 0 !important;
//  margin-bottom: 0 !important;
//  >div{
//    margin-top: 0 !important;
//    margin-bottom: 0 !important;
//  }
//}

.category-menu{
  width: 100%;
  height: 100%;
}

.search-dropdown{
  max-height: 300px;
z-index: 999;
}

.search-card{
  padding: 10px;
  @media screen and(max-width: 425px) {
    width: 100%;
  }
}

.search-product-image{
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.search-product-title{
  cursor: pointer;
}
.search-product-price{
  cursor: pointer;
}


.product-modal-button{
  margin: 30px auto 0;
}

.product-price{
  font-weight: bold;
  color: #02aa28;
  margin-left: 10px;
}

.product-modal{

  @media screen and (min-width: 40em){
    width: 85%!important;
    max-width: 62.5rem!important;
  }
  @media screen and (max-width: 39.9375em){
    width: 95%;
  }
  .ant-modal-close-x{
    color: #d3140b;
    font-size: x-large;
  }
  top: 10px!important;
}

.modal-product-image {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 350px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.modal-product-image-container {
  position: relative;
  height: 350px;
}
.modal-product-details-container{
  max-height: 350px;
  padding: 20px 10px 10px;
}

.related-product-image {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.related-product-image-container {
  position: relative;
  height: 200px;
}

.ant-input-search-icon{
  font-size: x-large;
  color: #1b4bcc;
}

.ant-input-clear-icon{
  font-size: large;
}

