.sign-in-content{
  background-color: white;
  margin: 0 40px 0 40px;
  min-height: 100vh;
  @media screen and (max-width: 982px) {
    width: 100%;
    margin: 80px 0 40px;
  }
}

.sign-in-title{
  text-align: center;
}

.sign-in-layout{
  background-color: white;
}

.sign-in-form{
  max-width: 300px;
  width: 90%;

  margin: auto;
}