.avatar-uploader {
  > div {
    margin: auto;
    width: 100% !important;
    height: 140px !important;
  }

}

.slider-form {
  margin: auto;
  width: 70%;

  .slide-uploader {
    > div {
      margin: auto;
      width: 100% !important;
      height: 155px !important;
    }

  }
}

.product-modal-form{
  width: 90% !important;
  max-width: 1300px;
  top: 10px !important;
}