.sign-up-form{
  max-width: 300px;
  margin: 10px auto auto auto;
}

.sign-up-content{
  background-color: white;
  margin: 0 40px 0 40px;
  @media screen and (max-width: 982px) {
    width: 100%;
    margin: 80px 0 40px;
  }
}

.sign-up-title{
  text-align: center;
}

.sign-up-layout{
  background-color: white;
  min-height: 100vh;
}

.already-registered{
  margin-bottom: 0;
}