.App{
    /*font-family: 'Roboto', Arial, sans-serif !important;*/

/*@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700;800&display=swap');*/
/*    font-family: 'EB Garamond', serif;*/
}
