.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  border-radius: 26px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 16px;
  background-color: #4000ff;
}


.avatar {
position: absolute;
  right: 50px;
  top: 10px;
}

.panel-header{
  position: relative;
}