.login-form {
  max-width: 300px;
  margin: 100px auto 50px auto;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.logo-auth{
  border-radius: 26px;
  width: 200px;
  height: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 16px auto;
  background-color: #4000ff;
background-image: url("http://tanti.uz:6526/api/v1/downloadFile/203791logo.jpg");
  background-position-x: 50%;
}

