.cart-on-header {
  >span{

  }
  > div {
  display: inline-block;
  }
}

.logo-header{
  height: 64px;
  width: 217px;
  background-image: url("http://tanti.uz:6526/api/v1/downloadFile/203791logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-drawer{
  background-color: #4000ff;
  border-radius: 25px;
  height: 50px;
  width: 80%;
  background-image: url("http://tanti.uz:6526/api/v1/downloadFile/203791logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
}

.header-drawer{
width: 420px;
  @media screen and(max-width: 982px) {
    .ant-drawer-content-wrapper{
      width: 100% !important;
      .ant-drawer-body{
        padding: 5px;
      }
    }
    width: 100%;
  }

}


  @media screen and(max-width: 420px) {
  .header-drawer-closed{
    width: 0 !important;
  }
}


.quantity-icon{
  cursor: pointer;
  color: #02aa28;
}

.header-top-desktop{
  margin: auto;
  max-width: 1400px;
  @media screen and(max-width: 982px) {
display: none;
  }
}

.header-mobile{
  display: none;
}

@media screen and(max-width: 982px) {
  .affix{
    display: none;
  }
  .header-mobile{
    display: block;
    width: 100%;
    background-color: #4000ff;
    height: 75px;
    z-index: 1000 !important;
    position: fixed;
    top: 0 !important;
    padding: 0 40px 0 20px !important;
  }
  .header-mobile-div{
    margin-top: 10px;
  }
}

.menu-text{
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
  font-family: 'Noto Serif', serif;
}

.menu-icon{
  font-size: x-large !important;
}

.ant-drawer-close {
  color: #d3140b !important;
  font-size: x-large;
}

.user-text{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  min-width: 70px;
}

.devider-under-category{
  height: 20px !important;
}